<div class="container">
    <div class="row">
        <div class="statistics-group col-lg-4">
            <h2>Number Of Diamonds: </h2>
            <h3> {{service.numberOfDiamonds}}</h3>
        </div>
        <div class="statistics-group col-lg-4">
            <h2>Average Price:</h2>
            <h3>  {{service.averagePrice}}</h3>
        </div>
        <div class="statistics-group col-lg-4">
            <h2>Average Discount : </h2>
            <h3> {{service.averageDiscount}}</h3>
        </div>
    </div>
</div>